/* Style général de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteneur du quiz */
.quiz-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    color: #444;
}

/* Liste des réponses */
.reponses {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Espace entre les réponses */
}

.reponses li {
    display: inline-block;
    margin-bottom: 0; /* Supprimer le margin-bottom */
}

/* Cacher les boutons radio par défaut */
input[type="radio"] {
    display: none;
}

/* Style des conteneurs des boutons radio */
.radio-container {
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    display: inline-block;
}

/* Style quand un bouton radio est sélectionné */
input[type="radio"]:checked + .radio-container {
    background-color: #e6e6ff;
    border-color: #4c63b6;
}

/* Effet hover */
.radio-container:hover {
    background-color: #ececec;
}

.btn-submit {
    font-size: 18px;       /* Augmenter la taille de la police */
    padding: 15px 30px;    /* Augmenter le padding pour agrandir le bouton */
    background-color: #4c63b6;  /* Couleur de fond */
    color: white;          /* Couleur du texte */
    border: none;          /* Retirer la bordure */
    border-radius: 5px;    /* Arrondir les coins */
    cursor: pointer;       /* Changer le curseur quand on survole */
    transition: background-color 0.3s;  /* Animation de transition */
}

.btn-submit:hover {
    background-color: #3a4f94;  /* Couleur de fond au survol */
}